/* Global Styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #111;
  color: #fff;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  color: #ffcc00;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.search-bar input {
  width: 60%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
}

.search-bar button {
  padding: 12px 20px;
  background: #ffcc00;
  border: none;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  font-size: 16px;
  transition: 0.2s;
}

.search-bar button:hover {
  background: #e6b800;
}

/* Movie Grid */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 390px;          /* makes all cards equal height */
  justify-content: space-between;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.movie-card p {
  color: #bbb;
  font-size: 14px;
}

/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 57, 57, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
  max-height: 80vh; 
  overflow-y: auto;
}

.popup-box img {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.popup-box h2 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.popup-box p {
  text-align: left;
  margin: 6px 0;
  line-height: 1.4;
}

.close-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #ff3333;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition:  0.2s;
}

.close-btn:hover {
  background: #cc0000;
}
.favbtn{
  margin-top: 15px;
  padding: 10px 20px;
  background:blue;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition:  0.2s;

}
.alignf{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.remove{
  margin-top:auto;
  width:100%;
  padding: 10px 20px;
  background:blue;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition:  0.2s;

}
